/* Borrar flechas del contador*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container input[type="number"] {
    text-align: center; /* Alinea el texto dentro del campo de entrada */
}

.addcart {
    padding-bottom:10px;
    width: 140px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #2A445B;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    color: white;
}

.IconContainer {
    
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
}

.icon {
    border-radius: 1px;
}

.text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
}

.addcart:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
}

.addcart:hover .text {
    transform: translate(10px,0px);
    transition-duration: .5s;
}

.addcart:active {
    transform: scale(0.95);
    transition-duration: .5s;
}

.btn{
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #2A445B;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    color: white;
}


.btn:active {
    transform: scale(0.95);
    transition-duration: .5s;
}